In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from App.logistic_regressor import LogisticRegressor

In [2]:
train=pd.read_csv('./Data/titanic_train.csv',index_col=0)
test=pd.read_csv('./Data/titanic_test.csv',index_col=0)
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
print(train.shape)
train.isnull().sum()

(891, 11)
(418, 10)

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [ ]:
train[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean()

In [ ]:
train[['Pclass', 'Age']].groupby(['Pclass'], as_index=False).mean()

In [ ]:
Pclass_means = train.groupby('Pclass')['Age'].mean()
Pclass_list = [1,2,3]
def age_missing_replace(means, data_frame, Pclass_list):
    for pclass in Pclass_list:
        temp = data_frame['Pclass'] == pclass
        data_frame.loc[temp, 'Age'] = data_frame.loc[temp, 'Age'].fillna(means[pclass]) 
    age_missing_replace(Pclass_means,train,Pclass_list)
train.head()

In [ ]:
train.head(5)

In [ ]:
def assignDeckValue(CabinCode):
    if pd.isnull(CabinCode):
        category = 'Unknown'
    else:
        category = CabinCode[0]
    return category
  
Deck = np.array([assignDeckValue(cabin) for cabin in train['Cabin'].values])

train = train.assign(Deck = Deck)
train.head()

In [ ]:
train[['Deck', 'Survived']].groupby(['Deck'], as_index=False).mean()

In [ ]:
def weak_ppl(age):    
    if age<=16:
        return 0
    elif age<=64:
        return 1
    else:
        return 2

In [ ]:
train['Age'] = train['Age'].apply(weak_ppl)
train[['Age', 'Survived']].groupby(['Age'], as_index=False).mean()

In [ ]:
train.drop(['Ticket', 'Cabin'],axis = 1, inplace =True)
test.drop(['Ticket', 'Cabin'],axis = 1, inplace =True)

In [ ]:
train.drop(['Deck'],axis=1, inplace=True)

In [ ]:
train['family'] = train['SibSp']+train['Parch']
test['family'] = test['SibSp']+test['Parch'] 
test.drop(['Parch', 'SibSp'],axis =1, inplace=True)
train.drop(['Parch', 'SibSp'],axis =1, inplace=True)

In [ ]:
train[['family', 'Survived']].groupby(['family'], as_index=False).mean()

In [ ]:
train[['Sex', 'Survived']].groupby(['Sex'], as_index=False).mean()

In [ ]:
train['Title'] = train.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

In [ ]:
train['Title'] = train['Title'].replace(['Dr', 'Rev', 'Col', 'Major', 'Countess', 'Sir', 'Jonkheer', 'Lady', 'Capt', 'Don'], 'Others')
train['Title'] = train['Title'].replace('Ms', 'Miss')
train['Title'] = train['Title'].replace('Mme', 'Mrs')
train['Title'] = train['Title'].replace('Mlle', 'Miss')

In [ ]:
train[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

In [ ]:
train.drop(['Name'],axis=1, inplace=True)
train.head()

In [ ]:
train.Embarked.value_counts(dropna=False)

In [ ]:
train[['Pclass', 'Fare']].groupby(['Pclass'], as_index=False).mean()

In [ ]:
train.Pclass.value_counts(dropna=False)

In [ ]:
train.head()

In [ ]:
train.Fare.fillna(13.314,inplace=True)
test.Fare.fillna(13.314,inplace=True)


train.Embarked.fillna('S', inplace=True)
test.Embarked.fillna('S',inplace = True)

In [ ]:
dummies_train= []
dummies_test = []

cols = ['Pclass', 'Embarked','Sex','Age','Title']
for col in cols:
    dummies_train.append(pd.get_dummies(train[col]))
    
dummies_training = pd.concat(dummies_train, axis=1)

train = pd.concat((train,dummies_training), axis=1)

train.drop(cols, axis=1, inplace=True)

In [ ]:
train.head()